<!DOCTYPE html>
<!--Created By: William Charles See Ong | Student Id: C0797740-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plants</title>
    <style>
        body {
            font-family: arial, sans-serif;
            font-size: 15px;
        }

        a:link {
            text-decoration: none;
        }

        .table_format {
            width: 72%;
            float: right;
        }

        table {
            border-collapse: collapse;
            width: 50%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .main{
            display: grid;
            grid-template-columns: auto auto;
            padding: 20px;
        }
        /* Charles */
        h1 {
            text-align: center;
        }

        .searchforms{
            text-align: center;
        }

        img{
            float:left;
            width: 150px;
        }

    </style>
</head>

<body>
    <!--Charles-> remove the onsubmit change to button onclick and make plant id to number and quantity
    Made the values to capital for care level, env, size, water, light, type-->
    <h1>Find the best Plants for Me!</h1>
    <!--Added Div Charles-->
    <img src="/img/AMC_Nursery.jpg" alt="Logo"> 
    <div class="searchforms">
    <form action="/plants/search" method="GET">
        <input type="text" name="Plant_Name" id="Plant_Name" placeholder="Enter Plant Name"  size="50"/>
        <select name="Plant_Type" id="Plant_Type">
            <option value="Annual">Annual</option>
            <option value="Perennial">Perennial</option>
            <option value="Biennial">Biennial</option>
        </select>
        <select name="Plant_Size" id="Plant_Size">
            <option value="Small">Small</option>
            <option value="Medium">Medium</option>
            <option value="Large">Large</option>
        </select>
        <select name="Environment" id="Environment" >
            <option value="Indoor">Indoor</option>
            <option value="Outdoor">Outdoor</option>
            <option value="Both">Both</option>
        </select>
        <input type="submit" value="Search Plant" />
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="main">
        <div class="plant_category">
            <form action="/plants/environment" method="GET">
                <select name="Environment" id="Environment" >
                    <option value="Indoor">Indoor</option>
                    <option value="Outdoor">Outdoor</option>
                    <option value="Both">Both</option>
                </select>
                <input type="submit" value="Search The Plant Environment" />
            </form>
        </div>
        <div class="table_format">
            <table>
                <tr>
                    <th>Plant id</th>
                    <th>Plant Name</th>
                    <th>Plant Description</th>
                    <th>Care level</th>
                    <th>Environment</th>
                    <th>Water level</th>
                    <th>Light level</th>
                    <th>Plant size</th>
                    <th>Price</th>
                    <th>Plant type</th>
                    <th>Edible</th>
                    <th>Fruit Bearing</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
                <% for(var i=0; i<alltheplants.length; i++) { %>
                    <tr>
                        <td>
                            <%=alltheplants[i].Plant_Id %> &nbsp;
                        <td>
                            <%=alltheplants[i].Plant_Name %>
                        </td>
                        <td>
                            <%=alltheplants[i].Description %>
                        </td>
                        <td>
                            <%=alltheplants[i].Care_Level %>
                        </td>
                        <td>
                            <%=alltheplants[i].Environment %>
                        </td>
                        <td>
                            <%=alltheplants[i].Water %>
                        </td>
                        <td>
                            <%=alltheplants[i].Light %>
                        </td>
                        <td>
                            <%=alltheplants[i].Plant_Size %>
                        </td>
                        <td>
                            <%=alltheplants[i].Price %>
                        </td>
                        <td>
                            <%=alltheplants[i].Plant_Type %>
                        </td>
                        <td>
                            <%=alltheplants[i].Edible %>
                        </td>
                        <td>
                            <%=alltheplants[i].Fruit_Bearing %>
                        </td>
                        <td>
                            <%=alltheplants[i].Quantity %>
                        </td>
                        <td> <a href="/plant/updating/<%=alltheplants[i].Plant_Id %>">
                                <input type="button" value="Update">
                            </a>
                            <a href="/plant/delete/<%=alltheplants[i].Plant_Id %>">
                                <input type="button" value="Delete">
                            </a>
                        </td>
                    </tr>
                    <% } %>
            </table>
            <br>
            <br>
            <a href="/add">
                <input type="button" value="Add plant">
            </a>
        </div>
    </div>
</body>

</html>