<!DOCTYPE html>
<!--Created By: William Charles See Ong C0797740, Ashray Pujari C0800447, Maria Theresa Corre C0784534, Amulya Baddam C0796372-->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update the plant</title>
  <style>
    /*Body color of update*/
    body {
      font-family: arial, sans-serif;
      font-size: 15px;
    }
    /*Change UI of Input Type with Text*/
    input[type=text],
    select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid rgb(10, 10, 10);
      border-radius: 4px;
      box-sizing: border-box;
    }
    /*Change UI of Input Type with Number*/
    input[type=number],
    select {
      width: 100%;
      padding: 12px 20px;
      margin: 5px 0;
      display: inline-block;
      border: 1px solid rgb(10, 10, 10);
      border-radius: 5px;
      box-sizing: border-box;
    }
    /*Button Color*/
    button {
      width: 100%;
      background-color: black;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    /*hover button to color green*/
    button:hover {
      background-color: #45a049;
    }
    /*div button to color white for form*/
    div {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 10px;
      width: 50%;
    }
  </style>
</head>

<body>
  <h1>Update Plants Form</h1>
  <div>
    <!--Charles-> remove the onsubmit change to button onclick and make plant id to number and quantity
    Made the values to capital for care level, env, size, water, light, type-->
    <form  name="plantForm"  action="/plant/update/<%= theplant.Plant_Id %>" method="POST">
      <label>Plant Name:</label><input type="text" name="Plant_Name" id="Plant_Name" value="<%= theplant.Plant_Name %>" required /> </br>
      <label>Description:</label><input type="text" name="Description" id="Description" value="<%= theplant.Description %>" required /> </br>
      <label>Care Level:</label>
      <select name="Care_Level" id="Care_Level">
        <option value="" disabled selected hidden>
          <%= theplant.Care_Level %>
        </option>
        <option value="Hard">Hard</option>
        <option value="Medium">Medium</option>
        <option value="Easy">Easy</option>
      </select> </br>
      <label>Environment type: </label>
      <select name="Environment" id="Environment">
        <option value="" disabled selected hidden>
          <%= theplant.Environment %>
        </option>
        <option value="Indoor">Indoor</option>
        <option value="Outdoor">Outdoor</option>
        <option value="Both">Both</option>
      </select> </br>
      <label>Water type: </label>
      <select name="Water" id="Water">
        <option value="" disabled selected hidden>
          <%= theplant.Water %>
        </option>
        <option value="Distilled">Distilled water</option>
        <option value="Tap">Tap water</option>
      </select> </br>
      <label>Light type: </label>
      <select name="Light" id="Light">
        <option value="" disabled selected hidden>
          <%= theplant.Light %>
        </option>
        <option value="High">High</option>
        <option value="Moderate">Moderate</option>
        <option value="Low">Low</option>
      </select> </br>
      <label>Plant Size: </label>
      <select name="Plant_Size" id="Plant_Size">
        <option value="" disabled selected hidden>
          <%= theplant.Plant_Size %>
        </option>
        <option value="Large">Large</option>
        <option value="Medium">Medium</option>
        <option value="Small">Small</option>
      </select> </br>
      <label>Price: </label> <input type="number" name="Price" id="Price" value="<%= theplant.Price %>" required /> </br>
      <label>Plant Type: </label>
      <select name="Plant_Type" id="Plant_Type">
        <option value="" disabled selected hidden>
          <%= theplant.Plant_Type %>
        </option>
        <option value="Annual">Annual</option>
        <option value="Perennial">Perennial</option>
        <option value="Biennial">Biennial</option>
      </select> </br>
      <label>Edible: </label>
      <select name="Edible" id="Edible">
        <option value="" disabled selected hidden>
          <%= theplant.Edible %>
        </option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select> </br>
      <label> Fruit Bearing: </label>
      <select name="Fruit_Bearing" id="Fruit_Bearing">
        <option value="" disabled selected hidden>
          <%= theplant.Fruit_Bearing %>
        </option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select> </br>
      <label>Quantity: </label> <input type="number" name="Quantity" id="Quantity" value="<%= theplant.Quantity %>" required />
      </br>
      <!--Charles Input Val-->
      <button type="submit" onclick="validateForm()">Submit</button>
    </form>
    <div>
</body>

</html>